.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  padding: 10px;
  /* change#1: space around all elements */
  justify-content: space-around;
  /* change#2: centering logo vertically and horizontally */
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  
  /* this removes the dots on the list items*/
  list-style-type: none;
  
  /* change#6: removing indent from ul container and adding column gap between elements */
  padding: 0;
  column-gap: 15px;

  /* change#3: list-items are horizontal, and are centered vertically inside the header. */
  display: flex;
  align-items: center;
  
  /* change#3.1 adding a border to make things a little clear for me */
  /* border: 5px solid greenyellow; */

} 


a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  
}

/* change#4: pushing left links all the way to the left */

.header .left-links {
  margin-left: 0;
  margin-right: auto;
}

/* change#5: pushing right links all the way to the right */

.header .right-links {
  margin-right: 0;
  margin-left: auto;
}
