/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  /* change#1: make header class a flex container and add a border to make my life easy */
  display: flex;
  /* border: 5px solid red; */

  /* change#5: center all items vertically */
  align-items: center;

  /* change#6: adding 8px space between everything and the edge of the header.*/
  padding: 8px;

  /* change#9: adding 16px space between all logo and link container */
  column-gap: 16px;
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  /* change#4: adding borders to logo to make my life easier */
  /* border: 5px solid yellowgreen; */
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;

  /* change#2: make ul a flex container to change the default alignment of its elements
     and add a border to make my life easier */
  display: flex;
  /* border: 5px solid green; */
 
  /* change#7: removing default indentation due to ul and adding 16px space between
  elements */
  padding: 0;
  column-gap: 16px;

}

/* change#3: declaring right-items as a flex container and adding borders to it and 
adding left margin to it */

.right-items {
  display: flex;
  /* border: 5px solid yellowgreen; */
  margin-left: auto;

  /* change#8: adding 16px space between elements */
  column-gap: 16px;
}
